<div ng-include="'views/_header.html'"></div>

<div class="container">  
  <div class="content">
    <div class="row">
      <h1>About</h1>
      <div class="col-md-12">
        <article>
          <p>BabelBlogs, LLC is a Platform-as-a-Service (PaaS) which offers hosted solutions for building multilingual websites and blogs.  Our platform is designed with international search engines in mind.   Your blog might be in English, but over 3/4th’s of the world’s population doesn’t search in English.  Our platform automatically translates your content into over 40-languages1 and generates all of the site maps, keywords, and other relevant metadata needed for search engines in any language to index your website.</p>

          <p>In addition to multilingual websites, we also offer multilingual iOS and Android versions of your website.  We’re not talking about your typical “Responsive Website” we can actually wrap your app, in any language, and launch it onto the Apple and Android App Stores for you, in any language.  Best of all, your app content updates anytime your website/blog does.</p>
        </article>        
      </div>      
    </div>
  </div>
  
  <div ng-include="'views/_footer.html'"></div>
</div>