<div ng-include="'views/_header.html'"></div>

<div class="container">  
  <div class="content">
    <div class="row">
      <h1>Contact Us</h1>
      <div class="col-md-12">
        <p>For more information regarding BabelBlogs, and/or the services that we offer, please fill out the form below, and we will respond to your request shortly…</p>
        <form action="contact_submit" method="get" accept-charset="utf-8" role="form">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" value="" placeholder="Name">
          </div>

          <div class="form-group">
            <label for="email">E-mail Address</label>
            <input type="email" class="form-control" name="email" value="" placeholder="E-mail">
          </div>

          <div class="form-group">
            <label for="department">Department</label>
            <select class="form-control" name="department">
              <option value="sales">Sales</option>
              <option value="support">Support</option>
              <option value="general_inquiry">General Inquiry</option>
              <option value="billing">Billing</option>
              <option value="domain_routing">Domain Routing</option>
              <option value="legal">Legal</option>
            </select>
          </div>

          <div class="form-group">
            <label for="department">Message</label>
            <textarea class="form-control" name="message"></textarea>
          </div>
          
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>      
    </div>
  </div>
  
  <div ng-include="'views/_footer.html'"></div>
</div>