<div ng-init="title='Passed Title'; content='Passed Content'; header_html='_features_header.html'" ng-include="'views/_header.html'"></div>

<div class="container">
  <div class="content">
    <div class="row-fluid">
      <h1>Features</h1>
      <div class="col-md-12">
        <table class="table features">
          <thead>
            <tr>
              <th></th>
              <th>Free Plan</th>
              <th>Pro Plan</th>
              <th>Enterprise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Unlimited websites.</td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>
            <tr>
              <td>Unlimited language translations *based on the the translation services being used.</td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>
            <tr>
              <td>Full integration into storage services such as Amazon’s S3, and BabelBlogs's Cloud Storage.</td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>
            <tr>
              <td>Custom.babelblogs.com url, or redirect your own custom domain.</td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>
            <tr>
              <td>Search Engine Optimization for all languages.</td>
              <td class="txt-center"><i class="txt-warning glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>
            <tr>
              <td>Full Social Networking integration.</td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>

            <tr>
              <td>We remove our ads and branding. Enabling you to insert your own ad scripts.</td>
              <td class="txt-center"><i class="glyphicon glyphicon-remove"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>
            <tr>
              <td>Full Analytics integration.</td>
              <td class="txt-center"><i class="glyphicon glyphicon-remove"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>

            <tr>
              <td>Customized Solution.</td>
              <td class="txt-center"><i class="glyphicon glyphicon-remove"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>
            <tr>
              <td>Dedicated Solutions.</td>
              <td class="txt-center"><i class="glyphicon glyphicon-remove"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>
            <tr>
              <td>Dedicated Technical Support.</td>
              <td class="txt-center"><i class="glyphicon glyphicon-remove"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
              <td class="txt-center"><i class="glyphicon glyphicon-ok"></i></td>
            </tr>

            <tr>
              <td></td>
              <td><button type="button" class="btn btn-default">Get Started</button></td>
              <td><button type="button" class="btn btn-default">Get Started</button></td>
              <td><button type="button" class="btn btn-default">Get Started</button></td>
            </tr>

          </tbody>
        </table>
      </div>        
    </div>
  </div>
  
  <div ng-include="'views/_footer.html'"></div>
</div>