<div ng-include="'views/_header.html'"></div>

<div class="container">
  <div class="content">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
          <div class="marketing">
    				<h2>Because people speak other languages!</h2>
            <p>Host your own blog and translate your blog posts into various languages so that foreign search engines can crawl the translated content and give your blog an edge in finding a global audience.</p>          
          </div>
          <img class="center" src="../images/devices.png" alt="" width=75%  ng-class="showMenu? 's':'h'"/>
  			</div>
  		</div>
  	</div>
  </div><!--/ content -->

  <div ng-include="'views/_footer.html'"></div>
</div>