<div ng-include="'views/_header.html'"></div>

<div class="container">
  <div class="content">
    <div class="row-fluid">
      <h1>Pricing</h1>
      <div class="col-md-4 pricing-plan">
        <h2>Basic Plan</h2>
        <p>$19.99/month - 99.99/year</p>
        <ul>
          <li>40 Pages</li>
          <li>4GB Storage</li>
          <li>Custom Domain</li>
          <li>24/7 Customer Support</li>
        </ul>
        <button type="button" class="btn btn-default">Get Started</button>
      </div>
      <div class="col-md-4 pricing-plan">
        <h2>Medium</h2>
        <p>$39.99/month - 189.99/year</p>
        <ul>
          <li>40 Pages</li>
          <li>4GB Storage</li>
          <li>Custom Domain</li>
          <li>24/7 Customer Support</li>
        </ul>
        <button type="button" class="btn btn-default">Get Started</button>
      </div>
      <div class="col-md-4 pricing-plan">
        <h2>Advanced</h2>
        <p>$99.99/month - 239.99/year</p>
        <ul>
          <li>40 Pages</li>
          <li>4GB Storage</li>
          <li>Custom Domain</li>
          <li>24/7 Customer Support</li>
        </ul>
        <button type="button" class="btn btn-default">Get Started</button>
      </div>      
    </div>
  </div><!--/ content -->
  
  <div ng-include="'views/_footer.html'"></div>
</div>