<div ng-include="'views/_header.html'"></div>

<div class="container">
  <div class="content">
    <div class="row-fluid">
      <h1>Pricing</h1>
      <div class="col-md-4 pricing-plan">
        <h2>Free Plan</h2>
        <p>$0/month</p>
        <ul>
          <li>Unlimited websites.</li>
          <li>Unlimited language translations.</li>
          <li>Integration into storage services such as Amazon’s S3, and BabelBlogs's Cloud Storage.</li>
          <li>Custom.babelblogs.com url, or redirect your own custom domain.</li> 
          <li>Search Engine Optimization for all languages.</li>
          <li>Full Social Networking integration.</li>
        </ul>
        <button type="button" class="btn btn-default">Get Started</button>
      </div>
      <div class="col-md-4 pricing-plan">
        <h2>Pro Plan</h2>
        <p>$9.99/month</p>
        <ul>
          <li>We remove our ads and branding.</li>
          <li>Full Analytics integration.</li>
          <li>All features in the free plan.</li>
        </ul>
        <button type="button" class="btn btn-default">Get Started</button>
      </div>
      <div class="col-md-4 pricing-plan">
        <h2>Enterprise</h2>
        <p>Contact Us for pricing</p>
        <ul>
          <li>Customized Solution</li>
          <li>Dedicated Solutions</li>
          <li>Dedicated Technical Support</li>
        </ul>
        <button type="button" class="btn btn-default">Get Started</button>
      </div>
    </div>
  </div><!--/ content -->
  
  <div ng-include="'views/_footer.html'"></div>
</div>