<div id="header-subpage" class="header">
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand brand-logo"><a href="/" title=""><img src="../images/logo.png" alt=""></a></div>          
        </div>
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">          
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a ng-href="/">HOME</a></li>
            <li><a ng-href="#subpage">TOUR</a></li>
            <li><a ng-href="#subpage">FEATURES</a></li>
            <li><a ng-href="#subpage">TEMPLATES</a></li>
            <li><a ng-href="#subpage">PRICING</a></li>
            <li ng-click="toggleMenu()"><a href class="navbar-toggle"><span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div><!--/ container -->
</div> <!--/ header -->

<div class="container">
  <div class="content">
    <h1>SubPage</h1>
  </div>

  <div class="footer">
    <p>Babel Blogs 2014</p>
  </div>
</div>