<div ng-include="'views/_header.html'"></div>

<div class="container">
  <div class="content">
    <h1>Templates</h1>
    <div class="row-fluid templates-list">
      <div class="col-md-3">
        <img src="../images/template1.jpg" alt="" height="240" width=240>
      </div>
      <div class="col-md-3">
        <img src="../images/template2.jpg" alt="" height="240" width=240>
      </div>
      <div class="col-md-3">
        <img src="../images/template3.jpg" alt="" height="240" width=240>
      </div>
      <div class="col-md-3">
        <img src="../images/template4.jpg" alt="" height="240" width=240>
      </div>
    </div>
    <div class="row-fluid templates-list">
      <div class="col-md-3">
        <img src="../images/template5.jpg" alt="" height="240" width=240>
      </div>
      <div class="col-md-3">
        <img src="../images/template1.jpg" alt="" height="240" width=240>
      </div>
      <div class="col-md-3">
        <img src="../images/template2.jpg" alt="" height="240" width=240>
      </div>
      <div class="col-md-3">
        <img src="../images/template3.jpg" alt="" height="240" width=240>
      </div>
    </div>
  </div><!--/ content -->  
  <div ng-include="'views/_footer.html'"></div>
</div>