<div class="header">
  <!-- <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul> -->
  <div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Welcome, {{ user.name }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="#settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>      
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="#logout"><span class="glyphicon glyphicon-off"></span> Log Out</a></li>
    </ul>
  </div>

  <h3 class="text-muted">Babel Blogs</h3>
  <div class="container">
    <!-- nav -->
    <div bb-dashboard-nav></div>
  </div>
</div>