body {
	background: #e1e1e1 !important;
}

#toolbar {
	height: 30px;
	background: #000;
	// margin-bottom: 30px;
  padding: 0px 5px 0px 5px;
  color: #fff;
}

#sidebar-left {
	background: #141414;
	width: 210px;
	height: 100%;
	color: #e1e1e1;
	top: 0;
	left: 0;
	position: absolute;
  margin-top: 30px;
}

#content {
	margin-left: 210px;
	padding-left: 25px;
	// padding-top: 10px;
}

#page-editor {
	input[type="text"] {
		width: 100%;
	}
}