<!-- header -->
<div ng-include="'views/_header.html'">  
</div>

<div class="content">
  <div class="container">
    <div class="btn-group btn-group-lg center">
      <button type="button" class="btn btn-default">Overview</button>
      <button type="button" class="btn btn-default">Billing</button>
      <button type="button" class="btn btn-default">Settings</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Settings
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Account Options</a></li>
        <li><a href="#">Language</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- footer -->
<div ng-include="'views/_footer.html'">
</div>