<div id="toolbar" ng-show="bbcore.user.isLogin" ng-cloak>
  <div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Welcome, {{ bbcore.user.name }} <span class="glyphicon glyphicon-user" ></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="#settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>      
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="#logout"><span class="glyphicon glyphicon-off"></span> Log Out</a></li>
    </ul>
  </div>

  <div><span><h4 class="text-muted">Babel Blogs</h4></span> <span> Visite Site {{bbcore.site.siteTitle}}</span></div>
  <div class="container">
    <!-- nav -->
    <div bb-dashboard-nav></div>
  </div>
</div>